.grid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

/* .grid div:first-child {
    border-radius: 20px;
} */

.snake {
    background: #B92222;
}

.apple {
    background: green;
}